footer {
	@extend .box;
	
	padding: 4px 0;
	margin: 0;

	border-style: none;
	border-top-style: solid;

	.content {
		@extend .row;

		text-align: center;
		word-wrap: normal;
		padding: 0.25em 8px;
	}
}