body {
	background-color: $color-bg-secondary;
	width: 100%;
	height: 100%;
}

hr {
	background-color: $color-soft-border;
	height: 1px;
	border: none;

	margin: 16px 0;
}

#blackout {
	width: 100%;
	height: 100%;
	position: fixed;

	background-color: black;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;

	z-index: 100;

	&.active {
		visibility: visible;
		opacity: 0.6;
		transition-delay: 0s;
	}
}

div.clear {
	clear: both;
}

.highlight {
	color: $color-highlight;
}

.box {
	@include columns(12);

	position: relative;

	background-color: $color-bg-primary;
	padding: 8px;
	margin-bottom: 1em;

	border: 1px $color-soft-border solid;

	@media #{$small} {
		border-left-style: none;
		border-right-style: none;
		margin: 4px 0 8px 0;

		h1, h2, h3 {
			text-align: center;
		}
	}
}

.post {
	@extend .box;

	h1 {
		@media #{$medium-up} {
			padding-right: 100px;
		}
	}

	.meta {
		color: $color-light-text;
		font-style: italic;

		@media #{$medium-up} {
			position: absolute;
			top: 8px;
			right: 8px;
		}

		@media #{$small} {
			width: 100%;
			text-align: center;
			margin-top: -0.5em;
			margin-bottom: 0.8em;
		}
	}

	.content {
		clear: both;

		ul {
			list-style-type: disc;
			margin-bottom: 1em;

			li {
				margin-left: 1.5em;
			}
		}
	}
}

.project {
	@extend .box;
}

.intro {
	@extend .box;

	text-align: center;

	a, a:link, a:visited {
		color: lighten($color-text-highlight, 5%);
	}
}