header {
	background-color: $color-bg-primary;
	border-bottom: 1px $color-soft-border solid;

	.content {
		@extend .row;

		font-size: 200%;
		line-height: 1;
		padding-top: 4px;

		a {
			vertical-align: top;

			&, &:link, &:visited {
				color: inherit;
			}
		}

		.title {
			margin-left: 0;
			font-weight: bold;

			&, &:link, &:visited {
				color: $color-text-highlight;
			}

			&:hover, &:active {
				color: $color-text-active;
			}
		}

		.lights {
			display: inline-block;
			float: right;
			text-align: center;
			width: 0.75em;
			height: 1em;
			margin-right: 8px;

			&::before {
				font-weight: normal;
				display: inline-block;
				color: $color-text;
				font-size: 30px;
				font-family: FontAwesome;
				content: "\f0eb";
			}
		}
	}
}