header {
	background-color: rgb(32, 32, 32);

	.content {
		@extend .row;

		font-size: 200%;

		a {
			vertical-align: top;
		}

		.title {
			color: $color-highlight;
			margin-left: 0;
			font-weight: bold;
		}
	}
}