$base-font-size: 12pt;
$h-font-sizes: 200% 180% 160% 140% 120% 110%;

body {
	color: $color-text;
	font-family: "Open Sans", sans-serif;
	font-size: $base-font-size;
}

@for $i from 1 through 6 {
	h#{$i}, .header#{$i} {
		line-height: 1;
		font-size: #{nth($h-font-sizes, $i)};
		padding-bottom: 0.3em;

		a, a:link, a:visited {
			color: inherit;
		}

		@media #{$small} {
			text-align: center;
		}
	}
}

h1 {
	font-weight: bold;
	border-bottom: 1px $color-underline solid;
	margin-bottom: 12px;
}

h2 {
	font-weight: bold;
	border-bottom: 1px $color-soft-underline solid;
	margin-bottom: 8px;
}

h3 {
	font-weight: normal;
	border-bottom: 1px $color-soft-underline solid;
	margin-bottom: 6px;
}

p {
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	transition: all 0.2s ease-in-out;

	&, &:link, &:visited {
		color: $color-text-highlight;
	}

	&:hover, &:active {
		color: $color-text-active;
	}
}