$text-color: rgb(230, 230, 230);
$base-font-size: 12pt;
$h-font-sizes: 200% 180% 160% 140% 120% 110%;

body {
	color: $text-color;
	font-family: "Open Sans", sans-serif;
	font-size: $base-font-size;
}

h1 {
	border-bottom: 1px $text-color solid;
	padding-bottom: 4px;
	margin-bottom: 8px;
}

@for $i from 1 through 6 {
	h#{$i}, .header#{$i} {
		font-weight: bold;
		font-size: #{nth($h-font-sizes, $i)};
	}
}