<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta charset="utf-8" />
	<title>PJVG - {{ page.title }}</title>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,400" rel="stylesheet" type="text/css">
	<script src="/js/ready.js"></script>
	<script src="/js/common.js"></script>
</head>

<body>
	<div id="blackout"></div>
	<div class="mobile-nav">
		<div class="top">
			<span class="title">PJVG</span>
			<span class="mobile-nav-toggler"></span>
		</div>

		<nav class="body">
			<a href="/index.html">Home</a>
			<a href="/about.html">About</a>
		</nav>
	</div>

	<header>
		<div class="content">
			<span class="mobile-nav-toggler title"></span>

			<a href="/index.html" class="title">PJVG</a>
			<nav class="primary">
				<a href="/about.html">About</a>
			</nav>
		</div>
	</header>

	<div id="content">
		{{ content }}
	</div>

	<footer>
		<div class="content">
			Copyright PJVG Standardization Organization &copy; 2015
		</div>
	</footer>
</body>
</html>