<!doctype html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1" />
	<meta charset="utf-8" />
	<title>PJVG - {{ page.title }}</title>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,400" rel="stylesheet" type="text/css">
</head>

<body>
	<header>
		<div class="content">
			<nav class="primary">
				<a href="/index.html" class="title">PJVG</a>
				<a href="/about.html">About</a>
			</nav>
		</div>
	</header>

	<div id="content">
		{{ content }}
	</div>

	<footer>
		<div class="content">
			Copyright PJVG Standardization Team &copy; 2015
		</div>
	</footer>
</body>
</html>